<h2>Cotações para <%= @item.sku %></h2>
<% if @quotes.any? %>
  <p><%= @quotes.count %> <%= ShippingCompany.model_name.human(count: @quotes.count).downcase %> <%= t(:found, count: @quotes.count) %></p>
  <%= render 'quotes' %>
<% else %>
  <p>Nenhuma transportadora atende esses requisitos</p>
<% end %>
