<section>
  <div>
    <h2>Transportadora: <%= @user.shipping_company.brand_name %> </h2>
    <% if @user.shipping_company.inactive? %>
      <span>[<%= t(@user.shipping_company.status) %>]</span>
    <% end %>
  </div>
  <div>
    <ul>
      <li><%= link_to 'Ordens de Serviço', service_orders_path %></li>
      <li><%= link_to 'Tabela de Preços', shipping_prices_path %></li>
      <li><%= link_to 'Tabela de Prazos', shipping_deadlines_path %></li>
      <li><%= link_to 'Veículos', vehicles_path %></li>
    </ul>
  </div>
</section>
<section>
  <h3>Ordens de Serviço pendentes</h3>
  <% if @pending_service_orders.any? %>
    <%= render partial: 'shared/service_orders/service_orders', locals: { service_orders: @pending_service_orders } %>
  <% else %>
    <p>Não há ordens de serviço pendentes</p>
  <% end %>
</section>
