<%= form_with model: @shipping_deadline do |f| %>
  <div>
    <%= f.label :start_distance %>
    <%= f.number_field :start_distance %>
  </div>
  <div>
    <%= f.label :end_distance %>
    <%= f.number_field :end_distance %>
  </div>
  <div>
    <%= f.label :deadline %>
    <%= f.number_field :deadline %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>
