<h2>Tabela de Preços</h2>
<section id="prices-per-item">
  <h3>Por item</h3>
  <% if @shipping_prices.any? %>
    <table>
      <thead>
        <tr>
          <th>Volume (cm³)</th>
          <th>Peso (kg)</th>
          <th>Preço por km</th>
        </tr>
      </thead>
      <tbody>
        <% @shipping_prices.each do |shipping_price| %>
        <tr>
          <td><%= shipping_price.start_volume %>-<%= shipping_price.end_volume %>cm³</td>
          <td><%= shipping_price.start_weight.fdiv(1000).to_i %>-<%= shipping_price.end_weight.fdiv(1000).to_i %>kg</td>
          <td><%= number_to_currency(shipping_price.price_km) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>Não existem preços cadastrados</p>
  <% end %>
  <div>
    <%= link_to 'Novo Preço', new_shipping_price_path %>
  </div>
</section>
<section id="minimum-prices">
  <h3>Mínimos por distância</h3>
    <% if @min_shipping_prices.any? %>
      <table>
        <thead>
          <tr>
            <th>Distância (km)</th>
            <th>Preço mínimo</th>
          </tr>
        </thead>
        <tbody>
          <% @min_shipping_prices.each do |min_shipping_price| %>
          <tr>
            <td><%= min_shipping_price.start_distance %>-<%= min_shipping_price.end_distance %>km</td>
            <td><%= number_to_currency(min_shipping_price.price) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>Não existem preços cadastrados</p>
    <% end %>
    <div>
      <%= link_to 'Novo Preço', new_min_shipping_price_path %>
    </div>
</section>
