<h2>Tabela de Preços</h2>
<% if @shipping_prices.empty? %>
  <p>Não existem preços cadastrados</p>
<% else %>
  <table>
    <thead>
      <tr>
        <th>Volume (cm³)</th>
        <th>Peso (kg)</th>
        <th>Preço por km</th>
      </tr>
    </thead>
    <tbody>
      <% @shipping_prices.each do |shipping_price| %>
      <tr>
        <td><%= shipping_price.start_volume %>-<%= shipping_price.end_volume %></td>
        <td><%= shipping_price.start_weight %>-<%= shipping_price.end_weight %></td>
        <td><%= number_to_currency(shipping_price.price_km) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<div>
  <%= link_to 'Novo Preço', new_shipping_price_path %>
</div>
