<!DOCTYPE html>
<html>
  <head>
    <title>Sistema de Frete</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
  <header>
    <h1>Sistema de Frete</h1>
    <nav>
      <% if admin_signed_in? %>
        <%= current_admin.name %> <%= current_admin.surname %> |
        <%= current_admin.email %> |
      <% else %>
        <%= link_to 'Página inicial', root_path %> |
        <%= link_to 'Rastreamento', root_path %> |
        <%= link_to 'Sou Transportadora', root_path %> |
        <%= link_to 'Sou Administrador',  new_admin_session_path %> |
      <% end %>
    </nav>
  </header>
  <main>
    <div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <%= yield %>
  </main>
  </body>
</html>
